<div class="dashboard main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">
        <form class="row">
          <div class="form-group col-sm-3">
            <select class="form-control">
              <option>Make it Real</option>
              <option>Elibom</option>
              <option>Infinanza</option>
            </select>
          </div>
          <div class="form-group col-sm-8">
            <input class="form-control" placeholder="¿En qué estás trabajando?" type="text" />
          </div>
          <div class="col-sm-1">
            <input class="btn btn-success" type="submit" value="Start" />
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <table class="table activities-list">
        <thead>
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Make it Real</td>
            <td>Implementando TimeApp</td>
            <td class="text-center">1200 segundos</td>
          </tr>
          <tr>
            <td>Make it Real</td>
            <td>Diseñando TimeApp</td>
            <td class="text-center">3600 segundos</td>
          </tr>
          <tr>
            <td>Elibom</td>
            <td>Reunión</td>
            <td class="text-center">300 segundos</td>
          </tr>
          <tr>
            <td>Make it Real</td>
            <td>Administrativo</td>
            <td class="text-center">1500 segundos</td>
          </tr>
          <tr>
            <td>Make it Real</td>
            <td>Reunión</td>
            <td class="text-center">800 segundos</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>